.container {
  width: 1280px;
  margin: 0 auto;
  .contact-holder {
    width: 980px;
    margin: 0 auto 100px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .contact-map {
      width: 400px;
      height: 442px;
      margin-bottom: 34px;
      background-image: url(../images/4f56b11ddf.png);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }
    .form-input {
      width: 529px;
      height: 522px;
      input {
        display: block;
        width: 529px;
        height: 60px;
        background-color: #f5f5f5;
        margin-bottom: 21px;
        font-weight: bold;
        border: none;
      }
      textarea {
        width: 529px;
        height: 199px;
        background-color: #f5f5f5;
        border: none;
      }
      .submit-button input {
        background-color: #79addc;
        color: white;
        width: 168px;
        height: 60px;
        font-weight: bold;
      }
    }
    .address {
      width: 400px;
      height: 161px;
      font-weight: bold;
      font-size: 20px;
    }
  }
}

@media only screen and (max-width: 700px) {
  .contact-holder {
    width: 700px;
  }
}
@media only screen and (max-width: 540px) {
  .contact-holder {
    width: 540px;
  }
}
